.container {
    background-color: #f8f9fa;
    height: 100vh;
}

.tableWrapper {
    padding-left: 32px;
    padding-right: 32px;
}

.tableNav {
    margin-top: 32px;
}

.title {
    padding-top: 32px;
}
